.gp-icon svg {
  width: 100%;
  height: 100%;
  display: block;
  color: inherit;
  /* make strokes visually heavier for outline icons */
  stroke-width: 1.8;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.btn-spinner {
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255,255,255,0.15);
  border-top-color: rgba(255,255,255,0.9);
  border-radius: 50%;
  animation: gp-spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes gp-spin {
  to { transform: rotate(360deg); }
}


