:root {
  color-scheme: dark;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: #0e0e0f;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

